
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>First Authenticator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  </head>
  <body>
    <div class="container">
      <div class="jumbotrom text-center">
        <h1><span class="fa fa-lock"></span>Node Authenticator</h1>
        <a href="user/" class="btn btn-success"> <spam class="fa fa-user">signin </spam></a>
        <a href="user/signup" class="btn btn-success"><spam class="fa fa-user">signiup</spam></a>
      </div>
    </div>
  </body>
</html>
